<% provide(:title, 'Lineas') %>
<h1>Lineas</h1>
<table class="table table-hover table-condensed" id="lines-table">
	<thead>
		<th>Nombre</th>
		<th>Logo</th>
		<th>Marca</th>
		<th># de Productos</th>
		<th>Acciones</th>
	</thead>
	<tbody>
		<% if @lines.any? %>
		<%= render @lines %>
		<% else %>
		<caption>No existen lineas creadas.</caption>
		<% end %>
	</tbody>
</table>

<ul class="nav nav-pills">
	<li><%= link_to 'Crear nueva linea', new_line_path %></li>
</ul>

