<% provide(:title, 'Nueva Linea') %>

<div class="row">
	<div class="span4 offset3">
		<%= form_for @line, class: "form-horizontal", :html => { :multipart => true } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'fields', :f => f, :l => @line %>
		<div class="actions">
			<%= f.submit "Crear", class: "btn btn-large btn-primary" %>
		</div>
		<% end %>
	</div>
</div>