<% provide(:title, 'Nueva Linea') %>

<div class="row">
	<div class="form-autofrio">
		<%= form_for @line, html: { multipart: true, class: "form-horizontal" } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'fields', :f => f, :l => @line %>
		<% end %>
	</div>
</div>