<% provide(:title, 'Modulo de Administración') %>
<p>Podrás modificar y crear: noticias, marcas, lineas y categorias haciendo clic en los siguientes vinculos:</p>

<ul>
	<li><%= link_to "Marcas", brands_path %></li>
	<li><%= link_to "Lineas", lines_path %></li>
	<li><%= link_to "Categorias", categories_path %></li>
	<li><%= link_to "Noticias", posts_path %></li>
</ul>
