<h1>Modulo de Administracion</h1>
<p>Podrás modificar y crear: marcas, lineas y categorias haciendo clic en los siguientes vinculos.</p>

<ul>
	<li><%= link_to "Marcas", brands_path %></li>
	<li><%= link_to "Lineas", lines_path %></li>
	<li><%= link_to "Categorias", categories_path %></li>
</ul>
