<% provide(:title, 'Contacto') %>

<div class="container center">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<h1>Dirección de Contacto</h1>
			<i>Ofrecemos a nuestros clientes un avanzado servicio a domicilio, de respuesta rápida y eficaz, para que usted obtenga su repuesto sin salir de casa.</i>
			<br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.6861859836295!2d-74.796008!3d10.984060010972573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDU5JzAyLjYiTiA3NMKwNDcnNDUuNiJX!5e1!3m2!1ses!2sco!4v1438756394629" width="500" height="500" class="img-thumbnail" allowfullscreen></iframe>
			<ul>
				Carrera 41 # 57 - 48<br>
				Barranquilla - Colombia<br>
				<strong>Teléfono:</strong> 341 8200<br>
				<strong>Correo:</strong> autofrioimportaciones@hotmail.com<br><br>

				<strong>AUTOFRIO IMPORTACIONES SAS</strong><br>
				<strong>NIT:</strong> 900235771-4
			</ul>
		</div>		
	</div>
</div>
