<% provide(:title, 'Contacto') %>

<h1>Dirección de Contacto</h1>

	<b><i>Ofrecemos a nuestros clientes un avanzado servicio a domicilio, de respuesta rápida y eficaz, para que usted obtenga su repuesto sin salir de casa.</i></b>
	
<ul>
	<li>Carrera 41 # 57 - 48</li>
	<li>Barranquilla - Colombia</li>
	<li><strong>Teléfono:</strong> 341 8200</li>
	<li><strong>Correo:</strong> autofrioimportaciones@hotmail.com</li>

	<li><strong>AUTOFRIO IMPORTACIONES SAS</strong></li>
	<li><strong>NIT:</strong> 900235771-4</li>
</ul>