<% provide(:title, 'Nuestra Empresa') %>

<div class="row-fluid">
	<div class="info-about span6">
		<h3>¿Quíenes sómos?</h3>
		<p><b>AUTOFRIO IMPORTACIONES SAS</b>, es una empresa que surge en el año 2002, a los dos días del mes de Noviembre, en la ciudad de Barranquilla. Desde ese día <b>AUTOFRIO IMPORTACIONES SAS</b> viene desarrollando su actividad en el ámbito del aire acondicionado automotriz y partes de refrigeración, comprometida desde sus inicios con el mercado regional y nacional, de una forma eficiente, ofreciendo siempre el mejor servicio, y calidad a sus clientes. Contando con la más alta tecnología, en cuanto a refrigeración automotriz se refiere y el mas amplio inventario de partes y repuestos de toda la Región Caribe.</p>
	</div>
	<div class="span6">
		<%= image_tag "about (1).jpg", class: "img-polaroid" %>
	</div>
</div>
<br>
<hr>
<br>
<div class="row-fluid">
	<div class="span6">
		<%= image_tag "about (2).jpg", class: "img-polaroid" %>
	</div>
	<div class="info-about span6">
		<h3>Nuestra Misión</h3>
		<p>La misión de nuestra empresa consiste en brindar la mas amplia gama de partes, repuestos y equipos para cualquier clase de vehiculo. Buscando siempre la total satisfacción y beneficio de nuestros clientes, elaborando e implementando soluciones para sus necesidades. Nos comprometemos a ser una empresa con un personal altamente calificado, motivado y capaz, poniendo siempre a su disposición, muchos años de experiencia y de éxito en este mercado de partes de refrigeración.</p>
	</div>
</div>
<br>
<hr>
<br>
<div class="row-fluid">
	<div class="info-about span6">
		<h3>Nuestra Visión</h3>
		<p>Se proyecta como una empresa líder en el mercado nacional de partes de refrigeración, en la venta de repuestos y equipos que ofrezcan garantía y efectividad, gracias a la implementación de nuestras altas tecnologías.</p>
	</div>
	<div class="span6">
		<%= image_tag "about (3).jpg", class: "img-polaroid" %>
	</div>
</div>





