<div class="catalogue-option">
	<div class="internal">
		<%= link_to "#", data: { category: category.id } do %>
			<%= image_tag category.photo.url(:catalogue) %>
			<h5><span><%= category.name %></span></h5>
		<% end %>
	</div>
</div>