<div class="catalogue-option">
	<div class="internal">
		<%= link_to "#", data: { line: line.id } do %>
			<%= image_tag line.photo.url(:catalogue), class: "center-block" %>
			<h5><span><%= line.name %></span></h5>
		<% end %>
	</div>
</div>