<% provide(:title, "#{@selected_category.name}") %>

<%= form_tag cline_path, id: "filter_form" do |f| %>
<%= hidden_field :category, :id, :value => "#{@selected_category.id}" %>
<%= hidden_field :brand, :id, :value => "#{@selected_brand.id}" %>
<% end %>

<legend>Selecciona una marca</legend>

<div class="row">
	<%= render :partial => 'brand', :collection => @brands %>
</div>
