<% provide(:title, 'Catálogo') %>

<%= form_tag cbrand_url, id: "filter_form", method: "get" do |f| %>
<%= hidden_field :category, :id, :value => "" %>
<% end %>

<legend>Selecciona una categoría</legend>

<div class="row">
	<%= render :partial => 'category', :collection => @categories %>
</div>

