<% provide(:title, "#{@post.title}") %>

<div class="row">
	<div class="col-md-3">
		<%= image_tag @post.image.url(:large), class: "img-thumbnail" %>
	</div>
	<div class="col-md-9">
		<ul>
			<li><strong>Titulo: </strong><%= @post.title %></li>
			<li><strong>Mensaje: </strong><%= @post.message %></li>
			<li><strong>Orden: </strong><%= @post.priority %></li>
		</ul>
	</div>
</div>
