<% provide(:title, 'Editar Marca') %>

<div class="row">
	<div class="form-autofrio">
		<%= form_for @brand, html: { multipart: true, class: "form-horizontal" } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= render 'fields', :f => f, :b => @brand %>
		<% end %>
	</div>
</div>