<% provide(:title, 'Marcas') %>
<h1>Marcas</h1>
<table class="table table-hover table-condensed" id="brands-table">
	<thead>
		<th>Nombre</th>
		<th>Logo</th>
		<th># de Productos</th>
		<th># de Lineas</th>
		<th>Acciones</th>
	</thead>
	<tbody>
		<%= render @brands %>
	</tbody>
</table>

<ul class="nav nav-pills">
	<li><%= link_to 'Crear nueva marca', new_brand_path %></li>
</ul>

