<% provide(:title, 'Marcas') %>

<table class="table table-hover table-condensed" id="brands-table">
	<thead>
		<th>Nombre</th>
		<th>Logo</th>
		<th># de Productos</th>
		<th># de Lineas</th>
		<th>Acciones</th>
	</thead>
	<tbody>
		<% if @brands.any? %>
		<%= render @brands %>
		<% end %>
	</tbody>
</table>

<ul class="nav nav-pills">
	<li><%= link_to 'Crear nueva marca', new_brand_path %></li>
</ul>

