<% provide(:title, 'Nueva Categoria') %>

<div class="row">
	<div class="form-autofrio">
		<%= form_for @category, html: { multipart: true, class: "form-horizontal" } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'fields', :f => f, :c => @category %>
		<% end %>
	</div>
</div>