<% provide(:title, 'Nuevo Producto') %>

<div class="row">
	<div class="form-autofrio">
		<%= form_for @product, html: { multipart: true, class: "form-horizontal" } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= render 'fields', :f => f, :p => @product %>
		<% end %>
	</div>
</div>