<% provide(:title, 'Nuevo Producto') %>
<h1>Nuevo Producto</h1>

<div class="row">
	<div class="span4 offset3">
		<%= form_for @product, class: "form-horizontal", :html => { :multipart => true } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'fields', :f => f, :p => @product %>
		<div class="actions">
			<%= f.submit "Crear", class: "btn btn-large btn-primary" %>
		</div>
		<% end %>
	</div>
</div>