<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-links">
        <%= link_to "Autofrío", root_path %></li> | 
        <%= link_to "Catálogo", catalogo_path %></li> |
        <%= link_to "Contacto", contacto_path %></li>
      </div>
      <br>
      <div class="footer-info">
        <%= image_tag "logo_small.png" %>
        <p>
          <strong>Autofrio Importaciones SAS</strong>
          <br>Carrera 41 # 57 - 48
          <br>Barrranquilla, Colombia
          <br>
          <a href="mailto:autofrioimportaciones@hotmail.com">autofrioimportaciones@hotmail.com</a> 
          <br><i>¡Calidad y Eficiencia!</i>
          <br><span id="copyright">© 2015 Autofrio Importaciones, SAS.</span>
        </p>
      </div>
    </div>
  </div>
</div>
</div>