<footer class="footer">
  <small>
    <a href="http://autofrio.heroku.co/">Autofrio Importaciones SAS</a>
    <br><i>Calidad y Eficiencia!</i>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Empresa", empresa_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
    </ul>
  </nav>
</footer>